<html>
  <head></head>
  <body>
      <article class="smaller note">
        <h3>References</h3>
        <ul>
          <li><a href="http://wiki.whatwg.org/wiki/Dynamic_Script_Execution_Order">Dynamic Script execution order</a></li>
          <li><a href="https://developer.mozilla.org/En/HTML/Element/Script">MDN Script</a></li>
		  <li><a href="http://www.w3.org/Bugs/Public/show_bug.cgi?id=11295">W3c bugzilla async=false</a></li>
		  <li><a href="http://www.websiteoptimization.com/speed/tweak/defer/">JavaScript: Defer Execution</a></li>
		  <li><a href="http://davidwalsh.name/html5-async">david walsh: HTML5's async script attribute</a></li>
          <li><a href="http://dev.w3.org/html5/spec/Overview.html#attr-script-async">HTML5 spec async</a></li>
		  <li><a href="http://www.w3.org/TR/html5/scripting-1.html#attr-script-async">HTML5 spec async</a></li>
		  <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/scripting-1.html#attr-script-async">http://www.whatwg.org/specs/web-apps/current-work/multipage/scripting-1.html#attr-script-async</a></li>
		  <li><a href="http://www.w3.org/TR/html4/interact/scripts.html#h-18.2.1">HTML4 script async</a></li>
          <li><a href="http://dailyjs.com/2011/09/22/framework-81/">DailyJS: Asynchronous resource loading</a></li>
          <li><a href="http://www.stevesouders.com/blog/2010/12/15/controljs-part-1/">ControlJS asyn loading</a></li>
          <li><a href="http://yuilibrary.com/yui/docs/api/classes/Loader.html">YUI Loader</a></li>
          <li><a href="http://ie.microsoft.com/testdrive/Performance/AsyncScripts/Default.html">/">IE Asynchronous scripts</a></li>
		  <li><a href="http://peter.sh/experiments/asynchronous-and-deferred-javascript-execution-explained/">Asynchronous and deferred JavaScript execution explained</a></li>
        </ul>
      </article>
	</body>
<html>	